<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="https://raw.githubusercontent.com/projectEndings/staticSearch/dev/schema/staticSearch.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<config xmlns="http://hcmc.uvic.ca/ns/staticSearch">
    <params>
        <searchFile>../../products/site/search.html</searchFile>
        <recurse>false</recurse>
        <phrasalSearch>true</phrasalSearch>
        <createContexts>true</createContexts>
        <!--These folling two should be optional or made mandatory in the schema-->
        <maxKwicsToHarvest>10</maxKwicsToHarvest>
        <maxKwicsToShow>10</maxKwicsToShow>
        <totalKwicLength>15</totalKwicLength>
        <kwicTruncateString>...</kwicTruncateString>
        <verbose>false</verbose>
        <stopwordsFile>stopwords.txt</stopwordsFile>
        <dictionaryFile>code/xsl/english_words.txt</dictionaryFile>
        <indentJSON>true</indentJSON>
    </params>
    
    <rules>
        <rule match="div[@id='info'][not(ancestor::div[@id='mainBody'][contains-token(@class,'docBornDigitalListing')])]" weight="0"/>
        <rule match="footer" weight="0"/>
        <rule match="div[@id='appendix']" weight="0"/>
        <rule match="div[@id='metadata']" weight="0"/>
        <rule match="*[contains(@class,'noteNum')]" weight="0"/>
        <rule match="header" weight="0"/>
        <rule match="meta[matches(@class,'(^|\s+)ss')][ancestor::html/descendant::div[@id='mainBody'][not(descendant::div[@id='info'])][contains-token(@class,'docBornDigitalListing')]]" weight="0"/>
        <rule match="*[matches(local-name(),'^h\d+$')]" weight="0"/>
        <rule match="a[span[@data-el='pb']]" weight="0"/>
        <rule match="div[@id='tools_container']" weight="0"/>
        <rule match="div[@id='info_right']" weight="0"/>
        <rule match="a[text()[matches(.,'^https?://')]]" weight="0"/>
        <rule match="table[ancestor::div[@id='mainBody'][contains(@class,'docBornDigitalListing')]]" weight="0"/>
        <rule match="*[@id='popup_closer']" weight="0"/>
        <!--  <rule match="body[not(ancestor::html/@id ='foreign')]" weight="0"/>-->
    </rules>
</config>
