<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="https://raw.githubusercontent.com/projectEndings/staticSearch/iss67-tf-idf/schema/staticSearch.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<config xmlns="http://hcmc.uvic.ca/ns/staticSearch">
    <params>
        <searchFile>../../products/site/search.html</searchFile>
        <recurse>false</recurse>
        <scoringAlgorithm>tf-idf</scoringAlgorithm>
        <phrasalSearch>true</phrasalSearch>
        
        <wildcardSearch>true</wildcardSearch>
        <createContexts>true</createContexts>
        <!--These following two should be optional or made mandatory in the schema-->
        <maxKwicsToHarvest>10</maxKwicsToHarvest>
        <maxKwicsToShow>100</maxKwicsToShow>
        <totalKwicLength>15</totalKwicLength>
        <kwicTruncateString>...</kwicTruncateString>
        <verbose>false</verbose>
        <stopwordsFile>stopwords.txt</stopwordsFile>
        <dictionaryFile>code/xsl/english_words.txt</dictionaryFile>
        <indentJSON>true</indentJSON>
    </params>
    
    <rules>
        
        <!--Weigh primary sources higher-->
        <!--NOTE: Remove this rule if using RAW SCORE rather than RELEVANCE-->
        <rule
            match="div[@id='mainBody'][some $class in tokenize(@class,'\s+') satisfies matches($class,'PrimarySource')]"
            weight="2"/>
        
        <!--ID based / element name based ignores-->
        <rule
            match="header | footer | *[@id=('appendix', 'metadata','info_right', 'credits' ,'tools_container', 'popup')]"
            weight="0"/>
        
        <!--More complicated ignores-->
        
        <!--Ignore note numbers-->
        <rule match="*[contains(@class,'noteMarker')]" weight="0"/>
        
        <!--Ignore page beginnings-->
        <rule match="a[span[@data-el='pb']]" weight="0"/>
        
        <!--Ignore meta tags of some sort??-->
        <rule match="meta[matches(@class,'(^|\s+)ss')][ancestor::html/descendant::div[@id='mainBody'][not(descendant::div[@id='info'])][contains-token(@class,'docBornDigitalListing')]]" weight="0"/>
        
        <!--Pseudonyms listing table-->
        <rule match="table[ancestor::html[@id='pseudonyms']]"  weight="0"/>
        
        <!--Credits table should be excluded too-->
        <rule match="div[h2/string(.) = 'Credits'][table[@class='sortable'][@data-type='exhibit']]" weight="0"/>
        
        <!--Ignore links that are just pointers-->
        <rule match="a[text()[matches(.,'^https?://')]]" weight="0"/>
        
        <!--Ignore most tables-->
        <rule match="table[ancestor::div[@id='mainBody'][contains(@class,'docBornDigitalListing')]]"
              weight="0"/>
        
        <!--Ignore headnotes resps-->
        <rule weight="0" match="div[contains-token(@class,'headnoteResp')]"/>
        
        <!--Ignore the body of these documents (we want them to be indexed still, however -->
        <rule match="body[ancestor::html[@id=('we_bibliography','bibliography')]]" weight="0"/>
        <rule match="body[ancestor::html/descendant::meta[@name='Ignore']]" weight="0"/>
    </rules>
    <excludes>
        <exclude match="html[@id='search']" type="index"/>
        <exclude match="html[@id='index']" type="index"/>
        <exclude match="meta[@name='Ignore']" type="filter"/>
    </excludes>
</config>
