            @namespace oxy "http://www.oxygenxml.com/extensions/author";
            @namespace "http://www.w3.org/1999/xhtml";
            
            html{
                -oxy-editable: false;
            }
            
            oxy|processing-instruction, oxy|comment {
                display:none !important;
            }
            
            *{
                -oxy-display-tags: none;
            }
            
            head{
                display: none;
            }
                        
            code.block{
                display:block;
            }
            body{
                line-height: 1.4;
                font-family: Verdana,Geneva,sans-serif; 
                font-size: 12pt;
                margin:1em;
                
            }
            
            .label{
                font-weight:bold;
            }
           
           
           p{
               margin:.25rem;
           }
           
           td>p{
               margin:0;
               padding:0;
           }
           
           td>p+p{
               margin-top:.25rem;
           }
           
           table{
                margin:1em;
            }
            
            body, div, section, h1¸ h2, h3, p, ul, ol{
                display: block;
            }
            
            
            h1 {
                text-align: center;
                display:block;
                padding: 0 0 1em 0;
            }
            
            h2, h3{             
                margin: 0.5em 0;
                padding: 0.75em 0;
            }
            
            h1{
                font-size: 200%;
            }
            
            h2{
                font-size: 150%;
                font-weight:bold;
            }
            
            h3{
                font-size: 120%;
            }
            
             p, ul, ol{
             margin-left:1em;
            }
            
            p.reminder{
               text-align:center;
               padding:1.5em;
               background: #ffcccc;
               font-size:90%;
               margin-top:-1em;
               margin-bottom:1em;
               margin-left:20%;
               margin-right:20%;
            }
            
            ul, ol{
                margin: 1em 2em;
            }
            
            li{
                display: list-item;
            }
            
            ol{
                list-style-type: decimal;
            }
            
            b{
                font-weight: bold;
            }
/*            Images*/

            img.inline{
                display: inline-block;
                content: attr(src, url);
            }
            img.block{
                display:block;
                margin: .75em 0 .75em 1em;;
                content: attr(src, url);
                
            }
            
            br{
                display: block;
                content: "";
            }
            /* Links */a[href]{
                text-decoration:underline;
            }
            
/*            Icon to click for link */
            a[href]:after{
            link:attr(href);
            content: "\2009\2197";
            font-size: 80%;
/*            vertical-align: super*/
}

        /* Tables */
        
    
    table {
        display: table; 
        box-sizing: border-box;
        text-indent: initial;
	    border-width: 1px;
	    border-color: #666666;
        border-collapse: collapse;
    }
    
    tr {
    display: table-row;
    }
    
div#status table{
    width:100%;
}
th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}


th { font-weight: bold; text-align:center;}
    td, th{
        display: table-cell;
        border:1px solid black;
        border-collapse: collapse;
        padding: 1px; 
        }
        
thead {
    display: table-header-group; 
}
tbody { 
    display: table-row-group; 
}
tfoot { 
    display: table-footer-group; 
}

/* Eg stuff, taken from the TEI's CSS stylesheet:  */

/* TEI COPYRIGHT NOTICE:
 * 
 * Copyright 2015 TEI Consortium

This software is dual-licensed:

1. Distributed under a Creative Commons Attribution-ShareAlike 3.0
Unported License http://creativecommons.org/licenses/by-sa/3.0/ 

2. http://www.opensource.org/licenses/BSD-2-Clause
		
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

* Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright
notice, this list of conditions and the following disclaimer in the
documentation and/or other materials provided with the distribution.

This software is provided by the copyright holders and contributors
"as is" and any express or implied warranties, including, but not
limited to, the implied warranties of merchantability and fitness for
a particular purpose are disclaimed. In no event shall the copyright
holder or contributors be liable for any direct, indirect, incidental,
special, exemplary, or consequential damages (including, but not
limited to, procurement of substitute goods or services; loss of use,
data, or profits; or business interruption) however caused and on any
theory of liability, whether in contract, strict liability, or tort
(including negligence or otherwise) arising in any way out of the use
of this software, even if advised of the possibility of such damage.

*/

pre,
div.pre,
div.pre_eg,
pre.eg,
div.eg{
    clear:both;
    margin-top:1em;
    margin-bottom:1em;
    border-top-width:4px;
    border-bottom-width:4px;
    border-left-width:2px;
    border-right-width:2px;
    border-style:solid;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
    color:#000000;
    line-height:1.1em;
    font-family:monospace;
    font-size:10pt;
    white-space:pre;
}

div.egXML_valid{
    background-color:#f7f9f6;
    border-color:#c5d8bb;
}
div.egXML_feasible{
    background-color:#fff9f3;
    border-color:#ffe1ad;
}
div.egXML_invalid{
    border-color:#ffe7e8;
    background-color:#fdbbac;
}

.gi::before{
    content:"<";
}

a[href].gi::after{
 link:attr(href);
            content: ">\2009\2197";
}

.gi::after{
    content:">";
}

.element, .attribute, .attributevalue, .comment{
    font-family: monospace;
    font-variant: normal;
}

.element, .attribute, .attributevalue{
    font-weight: 700;
}

/* These colours are taken from oXygen's defaults */

.element {
    color: #000099;
}

.attribute{
    color: #f5844c;
}

.attributevalue {
    color: #993300;
}

.comment{
    color: #009900;
}
