/*  This is a special CSS file just for the index page */

#mainBody{
    --main-padding-left: 2%;
    --main-padding-right: 2%;
}

/**************************************** IN TEXT THINGS */



/* Bump up line height here */
[data-el='p'], [data-el='note']{
        line-height: 1.6;
}



/**************************************** INDEX STRUCTURE */

.container{
    width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -0.125rem;
    margin-left: -0.125rem;
}

.left{
    position: relative;
    width: 100%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 5%;
}

.middle-spacer{
    position: relative;
    width:100%;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.left > div{
    max-width: 50rem;
}



/*************************************************** INDEX HEADER */


#index_header{
    grid-area: header;
    background-image: url(../images/WEA-hero-img.png);
    height: 85vh;
    min-height: 300px;
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
      -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#index_header > div{
    color:white;
    bottom:0;
    position:absolute;
    padding-left:7.5rem;
    padding-bottom:2.5%;
    line-height:1.2;
    z-index:10;   
}

#index_header h3{
    color:#fff;
}

#index_header h3 {
    font-size: 4.768rem;
    font-weight:500;
    max-width:35rem;
    letter-spacing: 4.5px;
}


#index_header h3 + h3{
    font-size:1.25rem;
    font-family: "Sans";
    max-width:unset;
    text-transform:uppercase;
    padding-top:1.5rem;
    font-weight:400;
}


/********************************************************** INDEX INFO  */

#index_info{
   margin-top:2rem;
}


#index_info h2{
    font-family: "Sans";
    font-weight: 300;
    font-size:2rem;
    line-height: 1.2;
    margin-bottom:1.75rem;

}


/********************************************************** INDEX ARCHIVE */

#index_archive{
    flex: 0 0 20rem;
    max-width: 20rem;
    z-index: 99;
    position: relative;
    margin-top:-20rem;
    
}

#index_archive ul{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--wea-info-bg-color);
    border-radius:1rem;
}

#index_archive li{
    width:16rem;
    height:12rem;
}



#index_archive li{
    margin-top: 3rem;
    vertical-align:middle;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:2px solid transparent;
    transition: border .5s ease-in;
  
}

#index_archive li:last-child{
    margin-bottom:3rem;
}

#index_archive li > a{
    display:inline-block;
    text-decoration: none;
    color: #fefefe;
    padding-top:25%;
    height: 100%;
    width:100%;
    text-transform: uppercase;
    font-size:1.563rem;
    letter-spacing:2.5px;
    margin-top:-.75rem;


}

#index_archive li:hover{
    border-color: var(--wea-pink);
}

#index_archive [data-el='date']{
    display:block;
    font-size:1.25rem;

}

#index_archive li[data-corresp *='EarlyExperiment']{
        background: url(../images/Early_Experiments.png) no-repeat;
    background-position: center center;
}

#index_archive li[data-corresp *='Japan']{
            background: url(../images/Japan.png) no-repeat;
    background-position: center center;
}

#index_archive li[data-corresp *='NewYork']{
                background: url(../images/NewYork.png) no-repeat;
    background-position: center center;
}


#index_archive li[data-corresp *='Hollywood']{
                background: url(../images/Hollywood.png) no-repeat;
    background-position: center center;
}


#index_archive li[data-corresp*='Alberta']{
            background: url(../images/Alberta.png) no-repeat;
    background-position: center center;    
}


/******************************************************* FEATURED ITEMS */

#index_featuredItemsWrapper{

}


/* Add a little horizontal rule above the featured items */
div#index_featuredItemsWrapper::before {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background: #ccc;
    margin: 3rem auto;
}




#index_featuredItems{
    overflow-x: hidden;
    background-color: var(--wea-info-bg-color);
}
 
#index_featuredItems ul {
    display:flex;
    flex-direction: row;
    position: relative;
    overflow-x:hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    flex-shrink:0;
    flex-grow:0;
    flex-wrap:nowrap;
}

#index_featuredItems li{
    position: relative;
    height:100%;
    width:100%;
    scroll-snap-align: start;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow:0;
    flex-direction:column;
}



#index_featuredItems ul > li > a{
    display:block;
}
#index_featuredItems img{
    max-width:80%;
    height:auto;
    display:block;
    margin:0 auto;
    margin-top:1px;
}


#index_featuredItems [data-el='label'] > a:hover{
    color:var(--wea-pink);
    transition: color 0.25s ease-in-out;
}

li{
    transition: transform 1s ease-in-out;
}




#index_featuredItems > a{
   display:inline-block;
   margin-bottom:1rem;
   margin-left:2rem;
   margin-top:-.75rem;
   height:.75rem;
   width:.75rem;
   background-color:#ccc;
   font-size:1px;
   color:#ccc;
   border-radius:1rem;
   transition: all 0.2s ease-in-out;
}
body:not(.JS) #index_featuredItems > a:target,
body.JS #index_featuredItems > a.selected,
#index_featuredItems > a:hover{
    background-color:#717171;
    color:#717171;
}

#index_featuredItems h2{
    font-size:1rem;
    padding-left:2rem;
    margin-bottom:0;
    padding-top:1rem;
    color: var(--wea-pink);
    font-weight:900;
    font-family: "Sans";
    text-transform:uppercase;
}


#index_featuredItems li > [data-el='note']{
    margin-bottom: 1rem;
    padding: 0.75rem 1.5rem 1.5rem 1.5rem;
    max-width:40rem;
    text-align:justify;
}


#index_featuredItems [data-el='label']{
    display:block;
    font-weight:500;
    font-size: 1.953rem;
    font-family: "Serif";
    color:inherit;
    margin-top:2rem;
    margin-bottom: 1rem;
    padding: 0 1.5rem;
    
    /* TREAT THIS LIKE A HEADING */
    
}



#index_featuredItems [data-el='label'] > a{
    color:inherit;
}

#index_featuredItemsNav {
    align-self: center;
    padding-bottom:2rem;
}

#index_featuredItemsNav li{
    display:inline-block;
  
}

#index_featuredItemsNav a{
  height:1rem;
    width:1rem;
    border-radius:1rem;
    padding: 0 .5rem;
    background-color: white;
}



/* Media queries for the index page */
@media screen and (max-width: 1186px){


    #index_archive{
        max-width: 18rem;
        margin-left:8%;
        
    }
    
    .left{
        padding-left:0;
    }
    
    #index_header > div {
        padding-left:3rem;
    }
    
    #index_archive li{ 
        margin-top: 1.5rem;
        
    }
    
    #index_archive li:last-child{
        margin-bottom:1.5rem;
    }
    #index_featuredItemsWrapper{
     padding-left:0;
     padding-right:0;
}
}


@media screen and (max-width: 1024px){
#index_archive{
    margin-top:2rem;
    margin-left:0;
    max-width: 15rem;
}

#index_archive li{
    width:12rem;
    height:8rem;
    }
    


#index_featuredItems h2 {
    padding-top: 1.75rem

}

#index_archive li > a{
    font-size: 1.25rem;
}

#index_archive [data-el='date']{
    font-size: 1rem;
}


}

@media screen and (max-width: 767px){

 :root{
     --main-padding-left: 0;
     --main-padding-right:0;
 }
 .row{
     display:block;
 }
 
 .middle-spacer{
     display:none;
 }
 
 .left {
     max-width:80%;
 }
 .left > div{
     max-width:100%;
 }
 
 #index_archive{
     max-width:80%;
 }
 
 #index_archive ul{
         border-radius:0;
 }
 #index_archive li{
    width:16rem;
    height:12rem;

 }
 
 #index_archive li > a{
       font-size:1.563rem;
 }
 
 #index_archive [data-el='date']{
    font-size:1.25rem;
}


#index_header > div{
    padding-left:1rem;
}


.container{
    padding:0;
}

.row > .left,
.row > #index_archive{
    max-width:85%;
    margin-left:auto;
    margin-right:auto;
}


}

@media screen and (max-width: 480px){
    

#index_header h3 {
    font-size: 3.052rem;
    max-width:25rem;
}



#index_header h3 + h3{
    font-size:1rem;
    font-family: "Sans";
    max-width:unset;
    text-transform:uppercase;
    padding-top:1.5rem;
    font-weight:400;
}


}


