
/* NOTE THESE ARE THINGS AVAILABLE ONLY IN DEKSTOP */
@media screen and (min-width: 1025px){

#nav_main > div.selected{
/*    border-bottom-color: var(--wea-pink);*/
}

#nav_main > div:not(.search_icon):not(.home):hover{
   border-bottom-color: var(--wea-pink);
   transition: border-bottom-color .4s;
}

#nav_main > div:hover > div{
    position: absolute;
    display: block;
    margin-top: .665em;
    background: rgb(255, 255, 255);
    margin-left: -1rem;
    width: 15rem;
    box-shadow: 1px 1px 1px 1px #efefef;
}

#nav_main > div > div > a:hover,
#nav_main > div > div >a.selected{
        background:#efefef;
        transition: background .2s;
}
     

}


@media screen and (max-width: 1205px){


.JS #tools_container{
        margin-left:-11%;
        font-size:85%;
        }
}



/* iPad Pros are 1024 px in width, so we'll start there
 * as the place where the header needs to switch */

@media screen and (max-width: 1024px){



.JS #tools_container{
    margin-left:-7%;
    width:2rem;

}


.JS #tools_container > #tools > div{
        border-top:none;
}

       
#tools div.mi{
    font-size:225%
}



#tools div.label{
    display:none;
}
       
    #nav_small{
        display:grid;
        grid-template-columns: .75fr 2fr .75fr;
        width:100vw;
    }
    

    #nav_small > div{
        margin-left: auto;
         margin-right: auto;
    }
    
    
    #nav_main > div > div > a.selected{
    color: #757575;
}
    
    #hamburger{
         font-size: 2.2rem;
                cursor:pointer;
        margin-left:.5rem;
        
    }
    
    .home{ 
    font-size: 1.9rem;
    margin-top:-.5rem;
    }
    
    
    .JS header,
    .JS header.open{
        max-height:100vh;
    }
    
    

    
    #nav_small{
        padding:0;
    }
    
    .JS header.open > #nav_small{
        margin-top:.3rem;
    }
    
  
    

   
    #headerSearchInput{
        width:100%;
    }
 

    
    .search_icon{
        font-size:1.8rem;
    }
 header.searchOpen #headerSearch{
    grid-template-areas:
    "headerSearchForm headerAdvancedSearchBtn"
    "headerSearchResults headerSearchResults";
    grid-template-columns:3fr 1fr;
    grid-gap:.1rem;
}


 
#headerSearch #headerSearchInputButton{
     display:none;
 }
 
 
/* NAV MAIN SIDE BAR */
    #nav_main{
 
    overflow-y: scroll;
    display: block;
    /* width: 40%; */
    min-height: 100vh;
    padding: 1rem 1rem 0 0;
    position: absolute;
     border-right: 1px solid #dedede;
    background-color: #ffffff;
    color: #757575;
    font-size: 90%;
    margin-left:0;
    margin-bottom:2rem;
    margin-top: calc(-1 * var(--header-height));
    background: var(--wea-header-bg-color);
    width:17rem;
    }
    
    
    #nav_main,
    #nav_main.closed{
      margin-left:-18rem;
    }


#nav_main.closed{
    transition:margin-left .5s;
}
    
    
    #nav_main > .home,
    #nav_main > .search_icon{
        display:none;   
    }



    #nav_main.open,
    #mainBody:not(.JS) #nav_main:target
    {
    margin-left:0;
    transition: margin-left .4s;
    z-index:200;
    }
    
    
   
 
   #nav_main  a{
       color: #000000;
   }
   
   
  
   #nav_main a:hover{
       color:var(--wea-pink);
   }
   
   
   
   #nav_main > div:not(.closer){
       border-bottom: 1px solid #757575;
       padding-top:.75rem;
       padding-bottom:.75rem;
       margin:.5rem;
   }
    
    
   #nav_main > div > div{
        padding: .25rem;
    }  
     
   #nav_main > div > div > a{
       padding:.6rem 0;
   }
   

    #nav_main > div:nth-last-child(2){
        padding-bottom:2rem;
        border-bottom:none;
    }
    
    
    #nav_main .closer{
    display:block;
    float:right;
    margin-top: -1rem;
}
    
    #nav_main> div > div{
        display:block;
    }
    
     #mainBody[class*="docPrimarySource"] > #info{
        grid-template-areas:
        "facsimile"
        "metadata_container"
        "additional_info";
         grid-template-columns:100%;
         grid-template-rows: max-content max-content max-content;
         grid-column-gap:0;
        
    }
    
    #metadata_container, #facsimile, #additional_info{
        width:auto;
    }
    
    #additional_info{
        padding-left:.25rem;
        margin-left:-.25rem;
    }
    
    #metadata{
    /* No more flex */
        display:block;
        height:100%;
        flex-flow:unset;
        max-height:unset;
        
    }
    #metadata > div{
        padding:.25rem .25rem .25rem 0;
        max-width:unset;
        
    }
    #facsimile{
     margin: 0 auto;
     min-width:0;
    }
       #mainBody{
        padding-left:5%;
        padding-right:5%;
    } 
    
}
    
    


/* 767 MEDIA QUERY */

@media screen and (max-width: 767px){
    
    :root{
        font-size:.95rem;
    }
    


    .JS #tools_container,
    .JS #tools_container *{
        display:none;
    }
    span[data-el='pb']:before{
        width:105%;
        margin-left:-2.5%;
    }
    
    span[data-el='pb'].first:before{
        content:unset;
        margin-left:87.5%;
        
    }
    
    
    .pbNum{
        margin-left:90%;
    }
    
   #nav_main{
       font-size:1rem;
   }
   



 table[data-type="exhibit"] td:first-child,
 table[data-type="exhibit"] th:first-child{
     display:none;
 }
    
}