@media print{
    
    
@page {
  size: letter;
}

    :root{
        font-size: 13px;
    }
    
    body{
       margin: 2.5cm;
        overflow-y:visible;
    }
    
    #mainBody{
        padding:0;
        margin-top:0!important;
        overflow:visible;
    }
    #tools_container, #tools, header{
        display:none;
    }
    
    div{
        overflow-y:visible!important;
    }
    

    
    #text{
        --max-text-width: 100%;
    }
    
    #info{
        page-break-after: always;
        padding:0;
    }
    
    #facsimile{
        display:none;
    }
    
    footer{
        display:none;
    }
    
    h1,h2,h3,h4,h5,h6{
        page-break-after:avoid;
        break-after: avoid-page;
    }
    
    h1 > [data-el='p'],
    h2 > [data-el='p'],
    h3 > [data-el='p'],
    h4 > [data-el='p'],
    h5 > [data-el='p'],
    h6 > [data-el='p']{
        page-break-before:avoid;
        break-before: avoid-page;
    }
    
    
        .showTitle, a{
        border-bottom:none!important;
    }
    
    #mainBody[class*="docPrimarySource"] > #info{
      grid-template-areas:
      "metadata_container metadata_container metadata_container metadata_container"
      "metadata_container metadata_container metadata_container metadata_container"
      "metadata_container metadata_container metadata_container metadata_container"
      "additional_info additional_info additional_info additional_info";
      background-color: transparent;
      grid-template-columns: repeat(4, 1fr);
    }
    
    #additional_info > div{
        box-shadow:none;
        background:transparent;
        margin-top:0;
        padding:0;
    }
    
    #credits{
        background-color:transparent;
        max-height:30rem;
    }
    
    .JS .expandable.closed > .content,
    .JS .expanded.open > .content{
        max-height:30rem;
    }
    
    .additionalInfoHeader .mi{
        display:none;
    }
    #toc{
        display:none;
    }
    
    
    #relatedItems{
        display:none;
    }
    
    #xmlVersions{
        display:none;
    }
    
    .additionalInfoHeader{
        display:none;
    }
    
    #additional_info .content{
        padding-left:0;
    }
    
}