@media print{
    
    
    :root{
        font-size: 13px;
    }
    
    
    #mainBody{
        padding:0;
        margin: 1in;
    }
    #tools_container, #tools, header{
        display:none;
    }
    
    #mainBody[class*="docPrimarySource"] #text{
        max-width: unset;
    }
    
    
    #info{
        page-break-after: always;
    }
    
    #facsimile{
        display:none;
    }
    
    
    #mainBody[class*="docPrimarySource"] > #info{
      grid-template-areas:
      "metadata_container metadata_container metadata_container metadata_container"
      "metadata_container metadata_container metadata_container metadata_container"
      "metadata_container metadata_container metadata_container metadata_container"
      "additional_info additional_info additional_info additional_info";
      background-color: transparent;
      grid-template-columns: repeat(4, 1fr);
    }
    
    #additional_info > div{
        box-shadow:none;
        background:transparent;
        margin-top:0;
        padding:0;
    }
    
    #credits{
        background-color:transparent;
        max-height:30rem;
    }
    
    .JS .expandable.closed > .content,
    .JS .expanded.open > .content{
        max-height:30rem;
    }
    
    .additionalInfoHeader .mi{
        display:none;
    }
    #toc{
        display:none;
    }
    
    
    #relatedItems{
        display:none;
    }
    
}