/* Created on: January 5, 2019 */
/* Author: Joey Takeda */
/* This is the basic CSS file for the WEA texts */

@font-face{
    font-family: "Sans";
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

html{
    font-family: Sans;
    font-size:13pt;
    
}

body{
    line-height: 1.2;
    min-height:40rem;
}

#metadata{
      background-color: rgba(244, 244, 241,0.8);
}

#mainBody{
        margin: 0 auto;
    max-width:40em;
  padding:2rem 8rem;
  min-height:40rem;
}


#searchResults{
    margin-top:2em;
}

#searchResults.closed{
    opacity:0;
}

#searchResults.showing{
    opacity: 1;
    transition: opacity .75s;
}


h1,h2,h3,h4,h5,h6{
    font-family: "Georgia";
}

div.results{
    margin-top:1.5rem;
    animation: fadein 2s;
    animation-delay: 2s;
}

div.results > div{
    margin-top:1em;
}



div[data-el=body] > div[data-el=div] > h2,
h1{
    text-align:center;
}


div[data-el=body]>div[data-el=div]{
    padding:.5em;
    margin:0 .5em;
}

div[data-el=p]{
    padding:.5em 0;
}

div[data-el='note'] > div[data-el='p']{
    display:inline;
}

[data-el='byline']{
    text-align:center;
}

span[data-el='pb']{
    width:100%;
    margin:2.25em 0 2.25em 0;
    display:block;
    border-style: inset;
    border-width: 1px;
}

span[data-el='pb'].first{
    display:none;
}

[data-el='supplied']::before{
    content:'[';
}

[data-el='supplied']::after{
    content:']';
}

[data-el='gap']::after{
    content:'[...]';
}





aside{
    top:0;
    margin-left:0;
    height:100%;
    position: fixed;
}

aside.showing{
    z-index:1000;
    background:ghostwhite;
    height:100%;
    color: black;
    min-width:20%;

}

aside.showing  #aside_toggle{
    color:black;
}

aside:not(.showing) #aside_contents{
    margin-left:-30rem;
}

aside.showing #aside_contents,
aside:active #aside_contents{

   margin-left:0;
}

#credits{
    margin:1.5rem;
}


div.ham{
    display:block;
    font-size:200%;
    font-weight:bold;
    cursor:pointer;
}

aside a{
    color:inherit;
}
div.ham>a{
    color:inherit;
    text-decoration:none;
}

aside.closed #aside_toggle::after{
    content:"☰";
}

aside.showing #aside_toggle::after{
    content:"X";
    float:right;
    margin-right:.5rem;
}

aside

div.closed > h3,
div.open > h3{
    cursor:pointer;
}

div.closed > div{
    display:none;
}

div.open > div{
    display:block;
}

div.toc {
    text-align:justify;
}
div.toc > div > span{
    padding:0 .3rem;
    display:inline-block;
}


div.closed > h3::after{
    content:" ▶";
    }
    


div.open > h3::after{
    content:" ▼";
}

.noteMarker{
    vertical-align:super;
    font-size:.8em;
}


#popup{
    position: fixed;
    right: 20%;
    top: 35%;
    overflow:auto;
    max-height:fit-content;
    max-width:10em;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    margin-right: 0;
    overflow: auto;
    padding: 1.25em;
    word-wrap: break-word;
    opacity: .95;
    font-size:1.2rem;
    background:ghostwhite;
}

#popup,
#popup.hidden{
    display:none;
}

#popup.showing{
    display:block;
}

#popup_content{
    margin: .5em .25em .25em .25em;
    font-size:75%;
}

#popup_content .returnToNote{
 display:none;   
}

#popup_closer{
    float:right;
    top:5rem;
    font-size:70%;
    color:black;
    font-weight:bold;
    cursor:pointer;
}

#popup_closer{
 
}


span[data-el='foreign']{
    font-style:italic;
}

span[data-el='q']::before{
    content:"“";
   
}

span[data-el='q']::after{
    content:"”";
}


span[data-el='q']::before{
    content:"“";
   
}

span[data-el='q'] span[data-el='q']::before{
    content:"‘";
}

span[data-el='q'] span[data-el='q']::after{
    content:"’";
}

.JS #personography{
    display:none;
}

div.facsButton{
    float: left;
    margin-left:-5rem;
    position: absolute;
    border: 1px solid black;
    vertical-align:middle;
   
}

div.facsButton:hover{
    background: floralwhite;

}

div.facsButton > a{
    width:100%;
    height:100%;
    padding: 1em;
    display:inline-block;
}
div.facsButton> a,
div.facsButton> a:visited,
div.facsButton> a:hover
{
    color:inherit;
    text-decoration:none;
}
#appendix div[data-el=note]{
    background:#f8f8ff; /*  Also known as Ghostwhite */
    border:dotted 1px black;
    padding:.5em;
    font-size:95%;
    }

#appendix div[data-el='note']:before{
    content: attr(data-notenum)".";
    float:left;
    margin-right:.5rem;
}
    
div[data-el=note] + div[data-el=note]{
    padding-top:.3em;
}

img{
    max-width:95%;
}

/* Tables */

table {
    border-collapse: collapse;
    table-layout:fixed;
}

table, th, td {
    border: 1px solid black;
    width:95%;
}
td{
    padding: .5rem 1rem;
}
    table {
        display: table; 
        box-sizing: border-box;
        text-indent: initial;
	    border-width: 1px;
	    border-color: #666666;
        border-collapse: collapse;
    }
    
    col:first-child{
    width:15%;
    }
    
    tr {
    display: table-row;
    }
    
div#status table{
    width:100%;
}
th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

[data-el='ul']{
    display:block;
    
}

[data-el='li']{
    padding-left:1rem;
}

th { font-weight: bold; text-align:center;}
    td, th{
        display: table-cell;
        border:1px solid black;
        border-collapse: collapse;
        padding: 1px; 
        }
        
thead {
    display: table-header-group; 
}
tbody { 
    display: table-row-group; 
}
tfoot { 
    display: table-footer-group; 
}

td>ul{
   list-style-type:none;
   margin-left:0;
   padding-left:0;
}

td>ul>li{
    margin-left:0;
    padding-left:0;
}

code.block{
    display:block;
    background:#dedfe0;
    padding:.5rem;
    border:1px dotted black;
    font-size:90%;
    margin:1rem;
}


/* Animated search */

div#mainBody input[type=text] {
  transition: width 0.4s ease-in-out;
}

.snippet{
    padding:.5rem;
    border: 1px dotted black;
}
.highlight{
    background: rgba(255,170,235,0.4);
    padding:.12rem;
    
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 100%;
  }
/* Eg stuff, taken from the TEI's CSS stylesheet:  */

/* TEI COPYRIGHT NOTICE:
 * 
 * Copyright 2015 TEI Consortium

This software is dual-licensed:

1. Distributed under a Creative Commons Attribution-ShareAlike 3.0
Unported License http://creativecommons.org/licenses/by-sa/3.0/ 

2. http://www.opensource.org/licenses/BSD-2-Clause
		
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

* Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright
notice, this list of conditions and the following disclaimer in the
documentation and/or other materials provided with the distribution.

This software is provided by the copyright holders and contributors
"as is" and any express or implied warranties, including, but not
limited to, the implied warranties of merchantability and fitness for
a particular purpose are disclaimed. In no event shall the copyright
holder or contributors be liable for any direct, indirect, incidental,
special, exemplary, or consequential damages (including, but not
limited to, procurement of substitute goods or services; loss of use,
data, or profits; or business interruption) however caused and on any
theory of liability, whether in contract, strict liability, or tort
(including negligence or otherwise) arising in any way out of the use
of this software, even if advised of the possibility of such damage.

*/

pre,
div.pre,
div.pre_eg,
pre.eg,
div.eg{
    clear:both;
    margin-top:1em;
    margin-bottom:1em;
    border-top-width:4px;
    border-bottom-width:4px;
    border-left-width:2px;
    border-right-width:2px;
    border-style:solid;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
    color:#000000;
    line-height:1.1em;
    font-family:monospace;
    font-size:10pt;
    white-space:pre;
}

div.egXML_valid{
    background-color:#f7f9f6;
    border-color:#c5d8bb;
}
div.egXML_feasible{
    background-color:#fff9f3;
    border-color:#ffe1ad;
}
div.egXML_invalid{
    border-color:#ffe7e8;
    background-color:#fdbbac;
}

.gi::before{
    content:"<";
}

a[href].gi::after{
 link:attr(href);
            content: ">\2009\2197";
}

.gi::after{
    content:">";
}

.element, .attribute, .attributevalue, .comment{
    font-family: monospace;
    font-variant: normal;
}

.element, .attribute, .attributevalue{
    font-weight: 700;
}

/* These colours are taken from oXygen's defaults */

.element {
    color: #000099;
}

.attribute{
    color: #f5844c;
}

.attributevalue {
    color: #993300;
}

.comment{
    color: #009900;
}

