/* Created on: January 5, 2019 */
/* Author: Joey Takeda */
/* This is the basic CSS file for the WEA texts */


/****************************************************************** FONTS ******/

/*
 * The collection of fonts used across the WEA site. We use serifs for the headings and
 * sans serif for the body.
 * 
 */

@font-face{
    font-family: "Sans";
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face{
    font-family: "Serif";
    src: url(../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf);
}

/******************************************************************** ROOT ******/

:root{
    /* BASIC COLOURS */
    --wea-pink: #DF006E;
    --wea-grey: #efefef;
    
    
    --wea-text-color: #292929;
    --wea-footer-bg-color: #282d2e;
    --wea-header-bg-color: white;
    --wea-info-bg-color:rgb(242, 245, 243);
    --wea-additional-info-bg-color: var(--wea-grey);
    --header-height: 2.6rem;
    --body-margin-top: calc(var(--header-height) + 4rem);
    --anchor-offset: calc(var(--header-height) * 1.05);
    
    /* PB MARGIN TOP BOTTOM */
    --pb-margin-tb: 2.25rem;
     /* Since pbs are just heightless border lines, they need slightly different margins
      * to accomodate the offset jump thing. */
    --pb-anchor-offset: calc(var(--anchor-offset) + var(--pb-margin-tb));

}


/****************************************************************** BASIC STRUCTURE ******/

/********* MAIN HTML ********/
html{
    font-family: Sans;
    font-size:100%;
}

/********* BODY ********/

body{
    line-height: 1.35;
    /* This is slightly darker than in Serina's designs. */
    color: var(--wea-text-color);
    margin:0;
   display: flex;  /* use the flex model */
     min-height: 100vh;
    flex-direction: column;  
}

/****************************************************************** HEADER ******/

header{
    color:black;
    padding:.5rem 0;
    font-size:105%;
    width:100%;
    margin:0 auto 0 auto;
    z-index:1000;
    position:relative;
    background: var(--wea-header-bg-color);
    border-bottom: 1px solid #dedede;
    position:fixed;
}

header > *{
        display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    background: var(--wea-header-bg-color);

}

header{
    height:auto;
}

/********* NAVIGATIONS ********/

#nav_small{
    display:none;
}

#nav_main{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}


.nav_option {
    display: none;
}





.nav_option > div{
    padding-top: .5em;
    padding-left: .2em;
}
.search_icon{
     font-size:1.75rem;
        margin-left:auto;
        margin-right:auto;
}
 .search_icon > a{
        display:inline-block;
        transform: rotate(-45deg);
    }
    
    
.nav-item.home{
    font-size:2rem;
    font-family: "Serif";
    margin-right:2em;
}
.nav-item{
    margin:0 .75rem;
    text-transform:uppercase;
    
}





aside{
    top:0;
    margin-left:0;
    height:100%;
    position: fixed;
}

aside.showing{
    z-index:1000;
    background:ghostwhite;
    height:100%;
    color: black;
    min-width:20%;

}

aside.showing  #aside_toggle{
    color:black;
}

aside:not(.showing) #aside_contents{
    margin-left:-30rem;
}

aside.showing #aside_contents,
aside:active #aside_contents{

   margin-left:0;
}



div.ham{
    display:block;
    font-size:200%;
    font-weight:bold;
    cursor:pointer;
}



div.closed > h3,
div.open > h3{
    cursor:pointer;
}


div.toc {
    text-align:justify;
}
div.toc > div > span{
    padding:0 .3rem;
    display:inline-block;
}


div.closed > h3::after{
    content:" ▶";
    }
    


div.open > h3::after{
    content:" ▼";
}

/****************************************************************** SEARCH (HEADER AND MAIN) ******/

/* 
 * 
 * Searches and inputs used across the site. There are two main search
 * components: the header search (which is a simple title index) and 
 * the main text search, which investigates the entirety of the pre-
 * indexed document collection (see search.js for further details on
 * the JS search engine). Note that the search only functions when
 * JS is turned on. 
 * 
 * */
 
 

/********* BASIC TEXT INPUT ********/

input[type='text']{
      outline:none;
      width: 100%;
      height:100%;
      padding:.5rem;
      font:inherit;
}

 

/********* MAIN SEARCH PAGE ********/


#searchBox{
    margin:0 auto;
    background-color: var(--wea-info-bg-color);
    margin-top:2em;
    padding:1.5em;
    max-width:30em;
    max-height:4em;
    border-radius:1em;
}

#searchBox input[type=text] {
      font-size:150%;
      outline:none;
  
}

 #searchBox input[type=text],
 #searchBox input[type=text]:focus{
  border-color: var(--wea-info-bg-color);
  border-width:0;
  border-radius:.25rem;
  }
  
  div.results{
    margin-top:1.5rem;
    animation: fadein 2s;
    animation-delay: 2s;
}

div.results > div{
    margin-top:1em;
}

#searchResults{
    margin-top:2em;
}

#searchResults.closed{
    opacity:0;
}

#searchResults.showing{
    opacity: 1;
    transition: opacity .75s;
}


.snippet{
    padding:.5rem;
    border: 1px dotted black;
}
.highlight{
    background: rgba(255,170,235,0.4);
}

.highlight.deselected{
    background:inherit;
}


/********* HEADER SEARCH ********/


#headerSearch{
    display:none;
}

#headerSearch.open,
#headerSearch:target,
.nav_option:target,
.nav_option.open{
    display:flex;
}


/*body:not(.JS) .search_icon{
  display:none;
}*/


#headerSearch > div{
        padding: 1rem;
        display:flex;
        margin:0;
}

#headerSearch > #headerSearchResults{
    padding:0;
}




header #siteMap{
    flex-direction:column;
    font-size:90%;
    
}

#siteMap > div{
    display:none;
}

#siteMap > div.result{
    display:block;
    padding: 1em 2rem;
    background: var(--wea-additional-info-bg-color);
    margin: .5rem 1rem;
    align-self:normal;
    border: 1px solid transparent;
    
}

#siteMap > div.result:hover,
#siteMap > div.result:focus{
    border:1px solid var(--wea-pink);
    outline:none;
}


div.result > .item_info {
    font-size:90%;
    opacity:.9;
}

.item_info > span + span::before{
    content: "|";
    padding:.5rem;
}
div.result > a{
    display:inline-block;
    height:100%;
    width:100%;
}
div.result:hover > a,
div.result:hover > a:hover,
div.result:focus > a{
    color: var(--wea-pink);
}

#headerSearchInput{
    font-size:120%;
    width:50%;
    max-width:100%;
    border:none;
}


#headerAdvancedSearchBtn{
    grid-area:headerAdvancedSearchBtn;
    font-size:80%;
    display:inherit;
   
    
}
#headerAdvancedSearchBtn > a{
        width:auto;
    padding:.25rem;
}

#headerSearchResults{
    grid-area:headerSearchResults;
}


/****************************************************************** INFO/METADATA BLOCKS ******/

#metadata{
    display:flex;
    max-height:25rem;
    flex-flow:column wrap;
    
}

#metadata > div,
#additional_info .content> div{
    min-width:0;
    flex-basis:content;
    padding:.5rem .5rem .5rem 0;
}

#metadata> > div{
  max-width:15rem;
}


    
.breadcrumb > a:hover{
    color: #940049;
}


/****************************************************************** FOOTER ******/

footer{
    background:var(--wea-footer-bg-color);
    color:white;
    min-height:5rem;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}



a, a:visited{
    color:#2A5DB0;
}



.showTitle{
    border-bottom: 1px dotted;
    border-bottom-color: inherit;
}

.JS .showTitle{
    cursor:pointer;
}

.breadcrumb + h2 {
    margin-top:.2rem;
}


#info, #text{
    margin: 0 auto;
}

#mainBody:not(.docBornDigitalExhibit) > #text{
    max-width:50rem;
}

#info{
      background-color: var(--wea-info-bg-color);
      overflow:hidden;
      padding: 5% 8% 3% 8%;
      margin:0 auto;
      }

#mainBody:not(.docBornDigitalExhibit) > #info{
     display:grid;
      grid-template-areas:
      "facsimile metadata_container metadata_container relatedItems"
      "facsimile metadata_container metadata_container relatedItems"
      "facsimile metadata_container metadata_container relatedItems"
      "additional_info additional_info additional_info additional_info";
      
      grid-template-columns: minmax(8rem, 18rem) 58% 1fr 1fr;
      grid-column-gap:1.5rem;
      grid-row-gap:1.5rem;
}
#relatedItems{
    grid-area: relatedItems;
}

#mainBody{
 /* We need to margin-top if we do a sticky header */
 /* margin-top: 2.5rem;*/
  padding:0 10% 5% 10%;
  flex:1;
  margin-top: var(--body-margin-top);
}

#facsimile{
    grid-area: facsimile;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

#metadata_container{
    grid-area: metadata_container;
}


/****************************************************************** MEDIA GALLERY ********/

div[data-type='listFigure']{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    
}

div[data-type="listFigure"] > div{
    width:8rem;
    padding:5%;
    margin:.5rem;
    font-size:90%;
    border:1px solid black;
}



div[data-type='listFigure'] img{
    max-width:8rem;
    height:auto;
}


/* ***************************************************** ADDITIONAL INFO PANEL ********** */
#additional_info{
    grid-area: additional_info;

   
}

#additional_info > div{
    margin-top:1rem;
    background: var(--wea-additional-info-bg-color);
    padding: 1rem;
}

#additional_info .content{
    display:flex;
    flex-flow: column;
    align-content: baseline;
    
}

.JS .expandable.closed > .content{
    max-height:0;
    overflow:hidden;
    transition: max-height .2s ease-in-out;
    display:block;
}

.JS .expandable.open > .content{
    max-height:30rem;
    transition: max-height .2s ease-in-out;
    overflow-y:auto;
}

.JS .additionalInfoHeader{
    cursor:pointer;
    
}

.JS #additional_info > div  .additionalInfoHeader::after,
.JS #additional_info > div.closed  .additionalInfoHeader::after{
    content: "\02795";
    float:right;
    font-size:80%;
}

.JS #additional_info > div.open > .additionalInfoHeader::after{
    content:"\2796";
}




#searchButtons{
    top: 10%;
    position:fixed;
    float:left;
    
    
}

/**** LINKS ***** */

header a,
header a:visited
{
    color:inherit;
}

a:hover,
.clicked,
#popup_closer:hover,
.JS .showTitle:hover,
.breadcrumb > a,
.breadcrumb > a:visited,
.JS .additionalInfoHeader:hover,
.JS .additionalInfoHeader:hover::after,
header a:hover{
    color:var(--wea-pink);
    transition: color 0.2s ease-in-out;
}

div:target:before{
      content: '';
      display: block;
      position: relative; 
      width: 0; 
      height: var(--anchor-offset);
      margin-top: calc(var(--anchor-offset) * -1);
      visibility: hidden;
      }


[data-el='pb']:target:before{
      content: '';
      display: block;
      position: relative; 
      width: 0; 
      height: var(--pb-anchor-offset);
      margin-top: calc(var(--pb-anchor-offset) * -1);
      visibility: hidden;
}
/* FOR INLINE ELEMENTS */
a:target:before{
    content:"";    
    display: inline-block;    
    vertical-align: top;
    position: relative;       
    top: calc(var(--anchor-offset) * -1.6); 
    visibility: hidden;
}



#hamburger:hover > div{
    background-color:var(--wea-pink);
    transition: color 0.2s ease-in-out;
}







.thumb{
    margin:0;
    position:relative; 
    display:inline-block;
}



.thumb img{
    max-width:18rem;
    width:100%;
    height:100%;
    
}

.imageText{
    position: absolute;
    z-index: 1;
    color: white;
    background: transparent;
    opacity: 0;
    left: 0;
    top: 0;
    transition: all 0.8s ease;
    height: 100%;
    width: 100%;
    text-align:center;
    overflow:hidden;
    border: 1px solid var(--wea-pink);
}

#imageText.portrait{
    font-size:2rem;
}

#imageText.landscape{
    font-size:1.4rem;
}

/*{
    height: 100%;
    width: 100%;
    position:relative;
    opacity:0;
    text-decoration:none;
    display: flex;
    justify-content: center;
    align-items: center;
    color:inherit;
    
}*/

.thumb:hover .imageText{
    opacity: 1;
    background: rgba(0, 0, 0, 0.8);
    color:white;
}

.imageText *{
    color:white;
}

.pdfSize{
    font-size:50%;
    display:inline-block;
}

#unhighlightButton,
#goToNextSearch,
#goToPrevSearch{
    background-color: #dedede;
    max-width: 6em;
    margin-top: .5rem;
    color: black;
    font-size: 90%;
    text-align: center;
    cursor: pointer;
    min-height: 4rem;
}


#unhighlightButton.unhighlighted ~ div{
    display:none;
}

#unhighlightButton:hover,
#goToNextSearch:hover,
#goToPrevSearch:hover{
    background-color: #c7c7c7;
}

#unhighlightButton.unhighlighted::after{
    content: "Highlight search matches ("attr(data-count)")";
}

#unhighlightButton.highlighted::after{
    content: "Unhighlight search matches ("attr(data-count)")";
}

#goToNextSearch::after{
    content: "Go to next match";
}

#goToPrevSearch::after{
    content: "Go to previous match";
    
}


h1,h2,h3,h4,h5,h6{
    font-family: "Serif";

}


h1,h2,h3,h4,h5,h5,
.metadataLabel{
        color: #33383D;
}





div[data-el=body] > div[data-el=div] > h2,
h1{
    text-align:center;
}


div[data-el=body]>div[data-el=div]{
    /* Divs CANNOT get padding if they are
     * going to be targeted, since that
     * interferes with the offset for the sticky header. */
    margin:.5em;
}

div[data-el=p]{
    padding:.5em 0;
    text-align:justify;
}

.metadataLabel{
    text-transform:lowercase;
    font-variant:small-caps;
}

div[data-el='note'] > div[data-el='p']{
    display:inline;
}

[data-el='opener'],
[data-el='byline']{
    text-align:center;
}

/******************************************************************* PAGE BREAKS **********/
span[data-el='pb']{
    width:100%;
    margin:var(--pb-margin-tb) 0;
    display:block;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-color:#757575;
    color: #757575;
}

.pbNum{
    float:right;
    margin-right:-10%;
}
.pbNum::before{
    content:"[";
}

.pbNum::after{
    content:']';
}

span[data-el='pb'].first{
    border:none;
    margin:0;
}

/********************************************************************* INLINE ELEMENTS ******** */
[data-el='supplied']::before{
    content:'[';
}

[data-el='supplied']::after{
    content:']';
}

[data-el='supplied'][data-cert='low']::after{
    content:'?]';
}

[data-el='gap']::after{
    content:'[...]';
}


[data-el='title'][data-level='j'],
[data-el='title'][data-level='m']{
    font-style:italic;
}

[data-el='title'][data-level='j'] > [data-el='title'][data-level='j'],
[data-el='title'][data-level='j'] > [data-el='title'][data-level='m'],
[data-el='title'][data-level='m'] > [data-el='title'][data-level='j'],
[data-el='title'][data-level='m'] > [data-el='title'][data-level='m']
{
    font-style:normal;   
}




div.blockquote{
    margin: 1.5rem 5rem 1.5rem 1.5rem;
    font-size:95%;
}


span[data-el='foreign']{
    font-style:italic;
}

span[data-el='q']::before,
span[data-el='title'][data-level='a']::before{
    content:"“";
   
}

span[data-el='q']::after,
span[data-el='title'][data-level='a']::after{
    content:"”";
}


div[data-el='lg']{
    padding: .5em 0;
}

span[data-el='q'] span[data-el='q']::before{
    content:"‘";
}

span[data-el='q'] span[data-el='q']::after{
    content:"’";
}


/************************************************************************* NOTE MARKERS  */
.noteMarker{
    padding-left: .1rem;
    position: relative;
    top: .1rem;
}

.noteMarker > sup{
    vertical-align: baseline;
    position: relative;
    top: -.3rem;
}
.noteMarker:focus{
    outline: thin dotted;
}


/************************************************************************ POPUPS */
#popup.hidden{
    display:none;
}

#popup.showing{
    position:absolute;
    word-wrap: break-word;
    font-size:1.2rem;
    background:white;
    padding:.75em;
    border: 1px solid #b9b9b9;
    border-radius: 9px;
    box-shadow: 1px 1px 1px #b9b9b9;
    display:block;
    animation: fade-in .5s;
    margin-left: .15rem;
    max-width:25rem;
    z-index:20;

}

/***************************************************************************** ANIMATIONS */
@keyframes fade-in {
  from { 
    opacity: 0; 
  }
  to { 
    opacity: 1; 
  }
}
#popup::after, #popup::before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
}

#popup::after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: white;
		/* THIS IS WHAT CONTROLS THE ARROW SIZE */
	border-width: 6px;
	margin-top: -6px;
}
#popup::before {
	border-color: rgba(185, 185, 185, 0);
	border-right-color: #b9b9b9;
    /* SHHOULD ALWAYS BE +BORERWIDTH */
	border-width: 7.5px;
	margin-top: -7.5px;
}

#popup.hidden{
    display:none;
   opacity:0;
}


#popup_content{
    margin: .5em .25em .25em .25em;
    font-size:75%;
}

#popup_content .returnToNote{
 display:none;   
}

#popup_closer{
    float:right;
    top:5rem;
    font-size:70%;
    color:black;
    font-weight:bold;
    cursor:pointer;
}


a{
    text-decoration:none;
}





.citationItem{
    text-indent:-2rem;
    padding-left:2rem;
    
}


[data-el='opener'] > [data-el='salute'],
[data-el='closer'] > [data-el='signed']{
    font-variant:small-caps;
    font-size: 105%;
}

[data-el='closer']{
    text-align:right;
    margin-right:.5rem;
}

[data-el='closer'] > [data-el='salute']{
    margin-right:1rem;
      display:block;
}

.JS #personography{
    display:none;
}

div.facsButton{
    float: left;
    margin-left:-5rem;
    position: absolute;
    border: 1px solid black;
    vertical-align:middle;
   
}

div.facsButton:hover{
    background: floralwhite;

}

div.facsButton > a{
    width:100%;
    height:100%;
    padding: 1em;
    display:inline-block;
}
div.facsButton> a,
div.facsButton> a:visited,
div.facsButton> a:hover
{
    color:inherit;
    text-decoration:none;
}

/**************************************************************************** APPENDIX */
#appendix div[data-el=note]{
    background: var(--wea-additional-info-bg-color);
    border:dotted 1px black;
    padding:.5em;
    font-size:95%;
    }

#appendix div[data-el='note']:before{
    content: attr(data-notenum)".";
    float:left;
    margin-right:.5rem;
}
    
div[data-el=note] + div[data-el=note]{
    padding-top:.3em;
}



/************************************************************************** LISTS */

[data-el='list']{
    padding:.25rem;
}

[data-el='list'] > [data-el='item']{
    padding-left: .5rem;
}

[data-el='list'] > [data-el='item'] + [data-el='item']{
    padding-top:.25rem;
}

/************************************************************************** TABLES */

table {
    border-collapse: collapse;
    table-layout:fixed;
    margin: 0 auto;
}

.JS th.sortable{
    cursor:pointer;
}

.JS th.sortable::after{
    left: 3px;
    content:"";
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 0 3px;
    background: transparent;
    border-bottom: solid 7px #2A5DB0;
    border-top-width: 0;
}

.JS th.sortable.down::after{
    border-bottom:none;
    border-top:solid 7px #2A5DB0
}

.JS th.sortable.selected::after,
.JS th.up.selected::after{
    border-bottom: solid 7px var(--wea-pink);
}

.JS th.sortable.down.selected::after{
    border-bottom:none;
    border-top:solid 7px var(--wea-pink);
}


/************************* EXHIBIT TABLES */

table[data-type='exhibit'] tr{
    height: 6rem;
    border-top:1px dotted black;
}

table[data-type='exhibit'] tr:not(:last-child){
        border-bottom:1px dotted black;
}

table[data-type='exhibit'] > thead > tr{
    border:none;
}

table[data-type='exhibit'] td{
    text-align:center;
   
}
tr:nth-of-type(2n){
    background:var(--wea-grey);
}

tr figure{
    margin:0;
    padding:1rem;
}
tr img{
    max-height:4rem;
}


table[data-type='exhibit']{
    width:100%;
}



/* MUCH OF THE BELOW SHOULD MOST LIKELY GO INTO A NEW CSS FILE FOR DOCUMENTATION. */

/******************************************************************** CODE */

code.block{
    display:block;
    background:#dedfe0;
    padding:.5rem;
    border:1px dotted black;
    font-size:90%;
    margin:1rem;
}




/******************************************************************** EG XML */
/* When the input field gets focus, change its width to 100% */

/* Eg stuff, taken from the TEI's CSS stylesheet:  */

/* TEI COPYRIGHT NOTICE:
 * 
 * Copyright 2015 TEI Consortium

This software is dual-licensed:

1. Distributed under a Creative Commons Attribution-ShareAlike 3.0
Unported License http://creativecommons.org/licenses/by-sa/3.0/ 

2. http://www.opensource.org/licenses/BSD-2-Clause
		
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

* Redistributions of source code must retain the above copyright
notice, this list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright
notice, this list of conditions and the following disclaimer in the
documentation and/or other materials provided with the distribution.

This software is provided by the copyright holders and contributors
"as is" and any express or implied warranties, including, but not
limited to, the implied warranties of merchantability and fitness for
a particular purpose are disclaimed. In no event shall the copyright
holder or contributors be liable for any direct, indirect, incidental,
special, exemplary, or consequential damages (including, but not
limited to, procurement of substitute goods or services; loss of use,
data, or profits; or business interruption) however caused and on any
theory of liability, whether in contract, strict liability, or tort
(including negligence or otherwise) arising in any way out of the use
of this software, even if advised of the possibility of such damage.

*/

pre,
div.pre,
div.pre_eg,
pre.eg,
div.eg{
    clear:both;
    margin-top:1em;
    margin-bottom:1em;
    border-top-width:4px;
    border-bottom-width:4px;
    border-left-width:2px;
    border-right-width:2px;
    border-style:solid;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
    color:#000000;
    line-height:1.1em;
    font-family:monospace;
    font-size:10pt;
    white-space:pre;
}

div.egXML_valid{
    background-color:#f7f9f6;
    border-color:#c5d8bb;
}
div.egXML_feasible{
    background-color:#fff9f3;
    border-color:#ffe1ad;
}
div.egXML_invalid{
    border-color:#ffe7e8;
    background-color:#fdbbac;
}

.gi::before{
    content:"<";
}

a[href].gi::after{
 link:attr(href);
            content: ">\2009\2197";
}

.gi::after{
    content:">";
}

.element, .attribute, .attributevalue, .comment{
    font-family: monospace;
    font-variant: normal;
}

.element, .attribute, .attributevalue{
    font-weight: 700;
}

/* These colours are taken from oXygen's defaults */

.element {
    color: #000099;
}

.attribute{
    color: #f5844c;
}

.attributevalue {
    color: #993300;
}

.comment{
    color: #009900;
}


@media only screen and (max-width: 900px){
    
    #mainBody{
        padding-left:5%;
        padding-right:5%;
    }
    
    
    #mainBody:not(.docBornDigitalExhibit) > #info{
        grid-template-areas:
        "facsimile"
        "metadata_container"
        "additional_info";
         grid-template-columns:1fr;
         grid-template-rows: max-content max-content max-content;
         grid-column-gap:0;
        
    }
    
    #metadata_container, #facsimile, #additional_info{
        width:auto;
    }
    
    #additional_info{
        padding-left:.25rem;
        margin-left:-.25rem;
    }
    
    #metadata{
    /* No more flex */
        display:block;
        height:100%;
        flex-flow:unset;
        max-height:unset;
        
    }
    #metadata > div{
        padding:.25rem .25rem .25rem 0;
        
    }
    #facsimile{
     margin: 0 auto;   
    }
    
    
    #nav_small{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        width:100vw;
    }
    
    #hamburger{
        display:block;
        font-size:200%;
    }
    
    
    header.open{
        height:auto;
    }
    
    #nav_small > div {
        margin-top: auto;
        margin-bottom: auto;
    }
    
    #hamburger{
        cursor:pointer;
        display:inline-block;
        margin-left:.5rem;
        
    }
 
 header.searchOpen #headerSearch{
    grid-template-areas:
    "headerSearchForm headerAdvancedSearchBtn"
    "headerSearchResults headerSearchResults";
    grid-template-columns:3fr 1fr;
    grid-gap:.1rem;
}


 
#headerSearch #headerSearchInputButton{
     display:none;
 }
 
 
 
    #nav_main.closed,
    #nav_main{
       max-height:0;
       overflow:hidden;
        display:flex;
       /* We should keep these as columns in case we want drop down  menus in future. */
       flex-direction:column;
       
       align-items:baseline;
    }
    

    #nav_main.open,
    #nav_main:target
    {
        max-height:100rem;
        padding-top:1em;
                border-bottom: 1px solid #dedede;
    }
    
    #nav_main > div{
        padding-top:.75rem;
        padding-bottom:.75rem;
    }
    
    /* Smaller margin needed. */
    .pbNum{
        margin-right:-6.5%;
    }
    
    #nav_main > .nav-item.home, 
    #nav_main > .nav-item.search_icon{
        display:none;
    }
    
    
    .nav-item.home{
        font-size:1.75rem;
        margin-left:auto;
        margin-right:auto;
    }
   
    #headerSearchInput{
        width:100%;
    }
 
    
    /* Shamelessly taken from W3Schools (I know, I know!)
     * https://www.w3schools.com/howto/howto_css_menu_icon.asp */
    #ham_top, #ham_middle, #ham_bottom{
        width: 2.5rem;
        height: .2rem;
        margin:.3rem;
        background-color: #333;
        display:block;
       
    }
    
    #hamburger{
        width:3.5rem
    }
    
}
